
{% include directory ~ '/partials/blog_details_header.html.twig' %}
<article{{ attributes }}>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    {# <footer>
      {{ author_picture }}
      <div{{ author_attributes }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer> #}
  {% endif %}

      <div{{ content_attributes }}>
        <div class="container">
			    <div class="innovationcenter-postDetail__main">
            <div class="innovationcenter-postDetail__content">
              <div class="row">
                <div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
                  {{ content }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</article>
